.skillContainer {
    padding: 10px;
    width: 400px;
    /*background-color: mediumseagreen;*/
    display: flex;
}
.iconContainer{
    margin-right: 48px;
}
.icon {
    background-color: #ffffff80;
    height: 70px;
    width: 70px;

}

.descriptionContainer {

}

.title {
    margin: 0 0 10px 0;

    color: #fff;
}

.description {
    color: #ffffff80;
}