.Link {
    text-decoration: none;
    text-transform: capitalize;
    color: #20c997;
    font-size: 18px;
    z-index: 10;
}

.NavigateBar {
    display: flex;
    gap: 15px;
}

.icon {
    color: #fff;
    font-size: 25px;
    margin-left: 20px;
}

.BurgerMenu {
    position: absolute;
    background-color: rgba(0, 0, 0, .302);
    width: 200px;
    height: 200px;
    top: 68px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Substrate {
    position: absolute;
    background-color: rgba(0, 0, 0, .202);
    width: 100vh;
    height: 100vh;
    z-index: 9;
    top: 0;
    left: 0;
}


@media screen and (min-width: 684px) {
    .icon {
        display: none;
    }
    .BurgerMenu{
        display: none;
    }
}

@media screen and (max-width: 684px) {
    .NavigateBar {
        display: none;
    }
}
