.sectionSkill {
    min-height: 100vh;
    background-color:  #191919;
    padding: 64px ;
}

.skillsContainer {
}
.skills{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.reactIcons{
    font-size: 40px;
    color:#20c997;
}
