@import "variables";


@mixin container() {
  background-color: $bgContainerColor;
  min-height: 100vh;
  padding: 68px 10px 10px;
}

@mixin display($ds,$fd,$jc,$ai) {
  display: $ds;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

