.main {
    background: #191919;
    height: 100%;

}

.text {
    width: 300px;
    background-color: darkgrey;
    border: 1px solid black;
}

.foto {
    width: 200px;
    background-color: darkgrey;
    border: 1px solid black;
    height: 300px;
}