.main {
    background: #191919;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.ContainerMain {
    width: 80%;
    height: 100%;
    padding: 64px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.text {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.text h1 {
    width: 310px;
    font-size: 60px;
    color: #20c997;
    margin: 0;
}

.Picture {
    width: 300px;
    height: 70vh;
}

@media screen and (max-width: 912px) {
    .ContainerMain{
        padding: 64px 0 0;
    }
}
@media screen and (max-width: 764px) {
    .text {
        text-align: center;
        font-size: 12px;
    }
    .text h1 {
        font-size: 40px;
        width: 100%;
    }
    .ContainerMain{
        justify-content: center;
    }
}