.sectionSkill {
    min-height: 100vh;
    background-color: papayawhip;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}
.skills{
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
