@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.sectionContacts {
  @include container();

  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .descriptionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      color: $textColor;
    }
  }
}




