.header {
    height: 68px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .302);
    display: flex;
    justify-content: center;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}