@import '../../../common/styles/variables';

.ContainerBar {
  display: flex;
  gap: 26px;

  .icon {
    font-size: 26px;
    color: $textColor;
    &:hover{
      color: $titleColor;
    }
  }
}



