.sectionFooter{
    background-color: lightskyblue;
}

.footerContainer{
    flex-direction: column;
}
.messengersContainer{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center
}