.skillContainer {
    padding: 10px;
    width: 400px;
    background: rgba(0, 0, 0, .302);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconContainer {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title {
    margin: 0 0 10px 0;
    color: #fff;
}

.description {
    color: #ffffff80;
}