.sectionContacts {
    min-height: 100vh;
    background-color: #191919;
    padding-top: 64px;
}

.contactContainer {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #656565;
}
